---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE } from "../consts";
---

<Layout
  title={`Destinations | ${SITE_TITLE}`}
  description="Browse the countries and destinations covered in Nomadic Year."
>
  <article class="prose prose-lg dark:prose-invert mx-auto">
    <h1>Destinations</h1>
    <p>
      Destination pages will be generated from migrated post taxonomy in later
      phases. This placeholder page is part of the Phase 1 shell.
    </p>
  </article>
</Layout>
